.app-layout {
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background: #111114;
  color: #F4F4F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #2A2A2F;
}

.main-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #1A1A1F;
  color: #F4F4F5;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #2A2A2F;
}

.feed-container {
  flex: 1;
  padding: 20px;
}

.right-panel {
  width: 250px;
  padding: 20px;
}

.post-card {
  background: #1A1A1F;
  color: #F4F4F5;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #2A2A2F;
}

.post-image {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}